@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi:ital@1&display=swap");
body header nav {
  background-color: #d7d7d7;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: nav; }
  body header nav a img {
    width: 50%;
    margin: 10px;
    padding: 10px; }
  body header nav input label {
    display: block; }
    body header nav input label i img {
      width: 30px;
      height: 30px;
      border-radius: 2px; }
  body header nav input ul {
    list-style: none;
    display: block;
    position: fixed;
    top: 10px;
    left: -100%;
    background: #d7d7d7;
    width: 100%;
    height: 100vh;
    right: 10px;
    display: flex;
    justify-content: column;
    align-items: center; }
    body header nav input ul li {
      list-style: none;
      margin-right: 5px;
      display: inline-block;
      padding: 10px;
      margin: 0;
      padding: 1rem; }
      body header nav input ul li ul {
        position: absolute;
        margin-top: 1px;
        height: 100px;
        transform: translateY(100%);
        left: 100px;
        font-size: 0.8rem; }

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nuosu SIL, sans-serif; }

body html {
  font-size: 100%; }

body body {
  overflow-x: hidden;
  background-color: #0000; }

body .menu-icon {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  display: block;
  position: fixed;
  top: 20px;
  right: 20px; }

body .menu-icon, body #check {
  display: none; }

body h1 {
  font-family: Tiro Gurmukhi, cursive;
  font-style: initial;
  color: black;
  font-size: 1.5rem; }

body h2 {
  font-family: Tiro Gurmukhi, cursive;
  font-style: initial;
  color: black;
  font-size: 1.2rem; }

body h3 {
  font-family: Tiro Gurmukhi, cursive;
  color: black;
  font-size: 1.2rem; }

body h4 {
  font-family: Tiro Gurmukhi, cursive;
  color: black;
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: 100;
  margin-bottom: 3px; }

body .text-bold {
  Font-weight: 800; }

body .text-right {
  Text-align: left; }

body .text-center {
  Text-align: center; }

body .text-left {
  text-align: left; }

body p {
  font-family: Nuosu SIL, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #383636;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  margin: 30px; }

body #grillacontacto {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "header header" "text text" "main main" "footer footer"; }

body header {
  grid-area: header; }

body main {
  grid-area: main; }

body footer {
  grid-area: footer; }

body .header__img__logo {
  width: 50%;
  margin: 10px;
  padding: 10px; }

body #check {
  display: none; }

body .checkbtn {
  display: block; }

body .menu-icon {
  width: 30px;
  height: 30px;
  border-radius: 2px; }

body nav {
  background-color: #d7d7d7;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }

body nav ul {
  list-style: none; }

body nav ul li {
  list-style: none;
  margin-right: 5px;
  display: inline-block; }

body .menu > li {
  position: relative;
  display: inline-block; }

body .menu > li > a {
  display: block;
  padding: 10px;
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  font-family: Tiro Gurmukhi, sans-serif; }

body .menu li a:hover {
  background-color: #89c9c8;
  transition: all 0.3s; }

body .submenu {
  position: absolute;
  background: #333333;
  width: 180%;
  visibility: hidden; }

body .submenu li a {
  display: block;
  padding: 20px;
  color: #fff;
  font-family: Tiro Gurmukhi, sans-serif;
  text-decoration: none; }

body .menu li:hover .submenu {
  visibility: visible;
  transform: scale(1.1); }

body nav > ul > li:first-child > a {
  background-image: url(../img/home.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 5px 20px 20px; }

body nav > ul > li:first-child:hover > a {
  background-image: url(../img/home.png);
  background-size: 30px; }

body .menu-icon {
  width: 30px;
  height: 30px;
  border-radius: 2px; }

body .menu-icon, body #check {
  display: none; }

body main div img {
  width: 50%;
  margin: 50px 10px 20px 50px; }

body main section h1 {
  text-align: center;
  margin: 40px 10px; }

body main section form fieldset label {
  width: 95%;
  padding: 5px;
  margin-bottom: 16px;
  margin: 15px 15px 15px 15px; }

body main section form fieldset input {
  width: 95%;
  padding: 5px;
  margin-bottom: 16px;
  margin: 15px 15px 15px 15px; }

body main section form fieldset label {
  width: 95%;
  padding: 5px;
  margin-bottom: 16px;
  margin: 15px 15px 15px 15px; }

body main section form fieldset input {
  width: 95%;
  padding: 5px;
  margin-bottom: 16px;
  margin: 15px 15px 15px 15px; }

body main section form fieldset label {
  width: 95%;
  padding: 5px;
  margin-bottom: 16px;
  margin: 15px 15px 15px 15px; }

body main section form fieldset input {
  width: 95%;
  padding: 5px;
  margin-bottom: 16px;
  margin: 15px 15px 15px 15px; }

body main section form fieldset textarea {
  font-size: 15px;
  width: 88%;
  margin: 15px 15px 25px 1px; }

body main section form fieldset div input {
  background-color: #89c9c8;
  color: white;
  border: none;
  width: 15%;
  margin-top: 10px;
  margin-right: 10px;
  padding: 15px;
  font-size: 1rem;
  text-align: center; }

body main section form fieldset div input {
  background-color: #89c9c8;
  color: white;
  border: none;
  width: 15%;
  margin-top: 10px;
  padding: 15px;
  font-size: 1rem;
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nuosu SIL, sans-serif; }

html {
  font-size: 100%; }

body {
  overflow-x: hidden; }

h1 {
  font-family: Tiro Gurmukhi, cursive;
  font-style: initial;
  color: black;
  font-size: 1.5rem; }

h2 {
  font-family: Tiro Gurmukhi, cursive;
  font-style: initial;
  color: black;
  font-size: 1.2rem; }

h3 {
  font-family: Tiro Gurmukhi, cursive;
  color: black;
  font-size: 1.2rem; }

h4 {
  font-family: Tiro Gurmukhi, cursive;
  color: black;
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: 100;
  margin-bottom: 3px; }

h5 {
  font-family: Tiro Gurmukhi, cursive;
  color: black;
  font-size: 0.9rem;
  margin-left: 25px;
  padding: 1px;
  font-weight: 100;
  align-content: center; }

body {
  background-color: rgba(0, 0, 0, 0); }

.text-bold {
  Font-weight: 800; }

.text-right {
  Text-align: left; }

.text-center {
  Text-align: center; }

.text-left {
  text-align: left; }

p {
  font-family: Nuosu SIL, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #383636;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  margin: 30px; }

#grillacontacto {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "header header" "text text" "main main" "footer footer"; }

header {
  grid-area: header; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

#principalcontacto {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas: "text text" "encab contacto"; }

#encabezado2 {
  grid-area: encab; }

#texto {
  grid-area: text; }

#contacto {
  font-family: Nuosu SIL, sans-serif;
  width: 78%;
  margin-left: 50px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgba(215, 215, 215, 0.4);
  font-size: 1.2rem;
  box-shadow: 7px 1px 30px #000; }

.encabezado__img--contacto {
  width: 95%;
  margin: 50px 10px 20px 50px; }

.section__título--superior {
  margin: 40px 10px; }

#formulario {
  font-family: Nuosu SIL, sans-serif;
  width: 40%;
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgba(215, 215, 215, 0.4);
  font-size: 0.9rem;
  box-shadow: 7px 1px 30px #000; }

#formulario a {
  color: black;
  text-decoration: none; }

#formulario a:hover {
  color: blue;
  text-decoration: underline; }

#formulario p {
  height: 5px; }

.controls {
  width: 90%;
  padding: 5px;
  margin-bottom: 16px;
  margin: 15px 15px 15px 15px; }

.formulario__fieldset--mensaje {
  font-size: 15px;
  width: 88%;
  margin: 15px 15px 25px 1px; }

#botones {
  display: flex;
  justify-content: center;
  align-items: center; }

.formulario__buttom--izq2 {
  background-color: rgba(97, 196, 194, 0.815686);
  color: white;
  border: none;
  width: 15%;
  margin-top: 10px;
  margin-right: 10px;
  padding: 15px;
  font-size: 1rem;
  text-align: center; }

.formulario__buttom--der2 {
  background-color: rgba(97, 196, 194, 0.815686);
  color: white;
  border: none;
  width: 15%;
  margin-top: 10px;
  padding: 15px;
  font-size: 1rem;
  text-align: center; }

@media only screen and (max-width: 768px) {
  #principalcontacto {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.3fr 0.5fr;
    grid-template-areas: "encab" "text" "contacto"; }
  nav ul {
    top: 0;
    right: 0;
    width: 220px;
    height: 38vh;
    padding: 40px; }
  nav ul li ul {
    position: absolute;
    height: 350px;
    transform: translateY(100%);
    right: 100px;
    font-size: 1rem; }
  .encabezado__img--contacto {
    width: 80%; }
  .condiciones {
    margin-top: 2px;
    font-size: 0.7rem; } }

@media only screen and (max-width: 768px) and (max-width: 480px) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 100px;
    background: #bababa;
    text-align: center;
    transition: all 0.5s; }
  .menu li {
    display: block;
    line-height: 20px;
    margin: 50px 0;
    transition: all 0.5s; }
  .menu li a {
    color: black;
    font-size: 1.5rem;
    font-family: Tiro Gurmukhi, sans-serif;
    text-decoration: none;
    text-transform: uppercase; }
  .menu li a.active, .menu li a:hover {
    color: rgba(97, 196, 194, 0.815686);
    transition: 0.5s; }
  #check {
    display: none; }
  .submenu {
    display: none; }
  .section__título--superior {
    margin-bottom: 2px; }
  .encabezado__img--contacto {
    width: 75%; }
  .condiciones {
    font-size: 0.5rem; }
  .formulario__buttom--izq2 {
    width: 25%; }
  .formulario__buttom--der2 {
    width: 25%; }
  .checkbtn {
    display: block; }
  .menu-icon {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px; }
  nav ul {
    display: block;
    position: fixed;
    top: 10px;
    left: -100%;
    background: #d7d7d7;
    width: 100%;
    height: 100vh;
    right: 10px;
    display: flex;
    justify-content: column;
    align-items: center; }
  nav ul li {
    padding: 10px;
    margin: 0;
    padding: 1rem; }
  .menu > li > a {
    font-size: 1.8rem; }
  nav ul li:last-child {
    background: none;
    padding: 10px; }
  #check:checked ~ ul {
    left: 0; }
  nav ul li ul {
    position: absolute;
    margin-top: 1px;
    height: 100px;
    transform: translateY(100%);
    left: 100px;
    font-size: 0.8rem; }
  .formulario__buttom--izq2 {
    transition: all 0.5s; } }

body footer h3 {
  font-weight: 800; }
  body footer h3 a img {
    width: 5%;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px; }
    body footer h3 a img a img {
      width: 5%;
      margin: 5px 5px 5px 5px;
      padding: 5px 5px 5px 5px; }
      body footer h3 a img a img a img {
        width: 5%;
        margin: 5px 5px 5px 5px;
        padding: 5px 5px 5px 5px; }
        body footer h3 a img a img a img div {
          text-align: center;
          background-color: none;
          width: 100%;
          margin: 10px 10px 10px 10px; }

#footer {
  background-color: #d7d7d7;
  padding: 35px 15px;
  grid-area: footer; }

.footer__logo--redes {
  width: 5%;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px; }

.div__copyright_text {
  background-color: none;
  width: 100%;
  margin: 10px 10px 10px 10px; }
