body{
	footer{
		h3{
			font-weight:800;
		a{
			img{
				width: 5%;
				margin: 5px 5px 5px 5px;
				padding: 5px 5px 5px 5px;
		a{
			img{
				width: 5%;
				margin: 5px 5px 5px 5px;
				padding: 5px 5px 5px 5px;
		a{
			img{
				width: 5%;
				margin: 5px 5px 5px 5px;
				padding: 5px 5px 5px 5px;
			
		div{
			text-align: center;
			background-color: none;
			width: 100%;
			margin: 10px 10px 10px 10px;
									} 
								}
				
							}
			
			
						}
				
					} 
				} 
			} 
		} 
			
	}
}


#footer {
	background-color: $color-principal;
	padding: 35px 15px;
	grid-area: footer;
}
.footer__logo--redes {
	width: 5%;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}
.div__copyright_text {
	background-color: none;
	width: 100%;
	margin: 10px 10px 10px 10px;
}



		


