body{
	main{
	div{
		img{
			width: 50%;
  			margin: 50px 10px 20px 50px;
		}
	}	
	section{
		h1{
			text-align: center;
			margin: 40px 10px;
		}
			
	}
		
	section{
		form{
			fieldset{
			label{
				width: 95%;
  				padding: 5px;
				margin-bottom: 16px;
				margin: 15px 15px 15px 15px;
			} 
			input{
				width: 95%;
  				padding: 5px;
				margin-bottom: 16px;
				margin: 15px 15px 15px 15px;

			}
			label{
				width: 95%;
  				padding: 5px;
				margin-bottom: 16px;
				margin: 15px 15px 15px 15px;
			}
			input{
				width: 95%;
  				padding: 5px;
				margin-bottom: 16px;
				margin: 15px 15px 15px 15px;
			}
			label{
				width: 95%;
  				padding: 5px;
				margin-bottom: 16px;
				margin: 15px 15px 15px 15px;
			} 
			input{
				width: 95%;
  				padding: 5px;
				margin-bottom: 16px;
				margin: 15px 15px 15px 15px;
			} 
		} 
		fieldset{
			textarea{
				font-size: 15px;
				width: 88%;
				margin: 15px 15px 25px 1px;
			} 

		div{
			input{
				background-color: $color-secundario;
				color: white;
				border: none;
				width: 15%;
				margin-top: 10px;
				margin-right: 10px;
				padding: 15px;
				font-size: 1rem;
				text-align: center;
			} 
			input{
				background-color: $color-secundario;
				color: white;
				border: none;
				width: 15%;
				margin-top: 10px;
				padding: 15px;
				font-size: 1rem;
				text-align: center;
			} 
									}
			
								}
			
							}
			

						}
		
					}
	
				}
		

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Nuosu SIL, sans-serif;
}	

html {
	font-size: 100%;
}

body {
	overflow-x: hidden;
}
  

h1 {
	font-family: Tiro Gurmukhi, cursive;
	font-style: initial;
	color: black;
	font-size: 1.5rem;
}
	  
h2 {
	font-family: Tiro Gurmukhi, cursive;
	font-style: initial;
	color: black;
	font-size: 1.2rem;
}
	  
h3 {
	font-family: Tiro Gurmukhi, cursive;
	color: black;
	font-size: 1.2rem;
}
	  
h4 {
	font-family: Tiro Gurmukhi, cursive;
	color: black;
	font-size: 1.2rem;
	margin-top: 10px;
	font-weight: 100;
	margin-bottom: 3px;
}
	  
h5 {
	font-family: Tiro Gurmukhi, cursive;
	color: black;
	font-size: 0.9rem;
	margin-left: 25px;
	padding: 1px;
	font-weight: 100;
	align-content: center;
}
body {
	background-color: rgba(0, 0, 0, 0);
  }
  
.text-bold {
	Font-weight: 800;
}
  
.text-right {
	Text-align: left;
}
  
.text-center {
	Text-align: center;
}
  
.text-left {
	text-align: left;
}

p {
	font-family: Nuosu SIL, sans-serif;
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: #383636;
	font-weight: 400;
	font-style: normal;
	text-transform: none;
	margin: 30px;
}

#grillacontacto {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas: "header header" "text text" "main main" "footer footer";
}
	  
header {
	grid-area: header;
}
	  
main {
	grid-area: main;
}
	  
footer {
	grid-area: footer;
}
	  
#principalcontacto {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.5fr 0.5fr;
	grid-template-areas: "text text" "encab contacto";
}
	  
#encabezado2 {
	grid-area: encab;
}
	  
#texto {
	grid-area: text;
}
	  
#contacto {
	font-family: Nuosu SIL, sans-serif;
	width: 78%;
	margin-left: 50px;
	margin-bottom: 30px;
	padding: 20px;
	background-color: rgba(215, 215, 215, 0.4);
	font-size: 1.2rem;
	box-shadow: 7px 1px 30px #000;
}
.encabezado__img--contacto {
	width: 95%;
	margin: 50px 10px 20px 50px;
}

.section__título--superior {
	margin: 40px 10px;
  }


#formulario {
	font-family: Nuosu SIL, sans-serif;
	width: 40%;
	margin-bottom: 30px;
	padding: 20px;
	background-color: rgba(215, 215, 215, 0.4);
	font-size: 0.9rem;
	box-shadow: 7px 1px 30px #000;
}
  
#formulario a {
	color: black;
	text-decoration: none;
}
  
#formulario a:hover {
	color: blue;
	text-decoration: underline;
}
  
  #formulario p {
	height: 5px;
  }
  
.controls {
	width: 88%;
	padding: 5px;
	margin-bottom: 16px;
	margin: 15px 15px 15px 35px;
}
  
.formulario__fieldset--mensaje {
	font-size: 15px;
	width: 88%;
	margin: 15px 15px 25px 1px;
}

#botones {
	display: flex;
	justify-content: center;
	align-items: center;
}
  
.formulario__buttom--izq2 {
	background-color: rgba(97, 196, 194, 0.8156862745);
	color: white;
	border: none;
	width: 15%;
	margin-top: 10px;
	margin-right: 10px;
	padding: 15px;
	font-size: 1rem;
	text-align: center;
}
  
.formulario__buttom--der2 {
	background-color: rgba(97, 196, 194, 0.8156862745);
	color: white;
	border: none;
	width: 15%;
	margin-top: 10px;
	padding: 15px;
	font-size: 1rem;
	text-align: center;
}

@media only screen and (max-width: 768px) {
	#principalcontacto {
		grid-template-columns: 1fr;
		grid-template-rows: 0.2fr 0.3fr 0.5fr;
		grid-template-areas: "encab" "text" "contacto";
	  }
	  nav ul {
		top: 0;
		right: 0;
		width: 220px;
		height: 38vh;
		padding: 40px;
	  }
	  nav ul li ul {
		position: absolute;
		height: 350px;
		transform: translateY(100%);
		right: 100px;
		font-size: 1rem;
	  }
	  .encabezado__img--contacto {
		width: 80%;
	  }
	  .condiciones {
		margin-top: 2px;
		font-size: 0.7rem;
	  }

@media only screen and (max-width: 480px) {

.menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 100px;
    background: rgb(186, 186, 186);
    text-align: center;
    transition: all 0.5s;
  }
  .menu li {
    display: block;
    line-height: 20px;
    margin: 50px 0;
    transition: all 0.5s;
  }
  .menu li a {
    color: black;
    font-size: 1.5rem;
    font-family: Tiro Gurmukhi, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
  }
  .menu li a.active, .menu li a:hover {
    color: rgba(97, 196, 194, 0.8156862745);
    transition: 0.5s;
  }
  #check {
    display: none;
  }
  .submenu {
    display: none;
  }

  .section__título--superior {
    margin-bottom: 2px;
  }
  .encabezado__img--contacto {
    width: 75%;
  }
  .condiciones {
    font-size: 0.5rem;
  }
  .formulario__buttom--izq2 {
    width: 25%;
  }
  .formulario__buttom--der2 {
    width: 25%;
  }
  .checkbtn {
    display: block;
  }
  .menu-icon {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
  }
  nav ul {
    display: block;
    position: fixed;
    top: 10px;
    left: -100%;
    background: rgb(215, 215, 215);
    width: 100%;
    height: 100vh;
    right: 10px;
    display: flex;
    justify-content: column;
    align-items: center;
  }
  nav ul li {
    padding: 10px;
    margin: 0;
    padding: 1rem;
  }
  .menu > li > a {
    font-size: 1.8rem;
  }
  nav ul li:last-child {
    background: none;
    padding: 10px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  nav ul li ul {
    position: absolute;
    margin-top: 1px;
    height: 100px;
    transform: translateY(100%);
    left: 100px;
    font-size: 0.8rem;
  }
  .formulario__buttom--izq2 {
	transition: all 0.5s;
  		}
	}
}