<!DOCTYPE html>
<html lang="en">
	<STYLE>A {text-decoration: none;} </STYLE>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Abogada en Zapatillas- Marketing juridico y diseño web</title>
	<link rel="icon" type="image/png" sizes="16x16"  href="../img/favicon.png">
	<!-- css vinculado -->
	<link rel="stylesheet" href="../css/style.css">
</head>

<body id="grillacontacto">
		<!-- inicia nav -->
	<header>
		<nav class="header__navegador">
			<a href="../../index.html">
			<img src="../img/logoAZ.png" alt="logo de abogada en zapatillas" class="header__img__logo">
			</a>
			<input type="checkbox" id="check">
			<label for="check" class="checkbtn">
				<i><img src="../img/checkbtn.png" class="menu-icon"></i>
			</label>
			<ul class="menu">
				<li> <a href="../index.html"></a></li>
				<li> <a href="servicios.html">Servicios</a>
					<ul class="submenu">
						<li><a href="#">Marketing Digital</a></li>
						<li><a href="#">Publicidad Digital</a></li>
						<li><a href="#">Diseño Gráfico</a></li>
						<li><a href="#">Desarrollo Web</a></li>
					</ul>
				</li>
				<li> <a href="nosotros.html">Nosotros</a></li>
				<li> <a href="descargable.html">Descargable</a></li>
			</ul>
		</nav>
	</header>
		<!-- termina nav -->
	
		<!-- inicia contenido principal -->
	<main id="principalcontacto">
		<div id="encabezado2">
			<img src="../img/presentación3.png" alt="imagen con la foto de una mujer y una balanza de la justicia de fondo " class="encabezado__img--contacto">
		</div>
		<section id="texto">
			<h1 class="text-center section__título--superior">¿Tenés dudas?</h1>
		</section>
		<!-- inicia Form -->
		<section>
			<form action="envio.php" id="contacto">
				<fieldset>
					<legend>Información personal</legend>
					<label for="name" class="controls">Nombre</label>
					<input type="text" id="name" placeholder="Escriba su nombre aquí" class="controls">
					<label for="email" class="controls">Correo electrónico</label>
					<input type="text" id="email" placeholder="nombre@algo.com"class="controls">
					<label for="telefono" class="controls">Teléfono</label>
					<input type="numero" id="telefono" placeholder="+541100000000" class="controls">
				</fieldset>
				<fieldset>
					<legend>Mensaje</legend>
					<label for="mensaje"></label>
					<textarea name="" id="mensaje" cols="200" rows="10" placeholder="Escriba su mensaje aquí" class="formulario__fieldset--mensaje"></textarea>
					<p>Estoy de acuerdo con los <a href="#">términos y condiciones</p>
				</fieldset>
				<div id="botones">
					<input class="formulario__buttom--izq2" type="reset" value="Cancelar">
					<input class="formulario__buttom--der2" type="submit" value="Enviar">
				</div>
			</form>
		</section>
		<!-- ends form -->
	</main>
	<!-- Termina contenido principal -->

	<footer id="footer">
		<h3 class="text-bold text-center">Seguinos en nuestras redes</h3>
		<a href="https://www.facebook.com" target="blank">
		<img src="../img/facebook.png" alt="logo de facebook que redirige a la cuenta la marca" class="footer__logo--redes"> 
		</a>
		<a href="https://www.instagram.com/" target="blank">
		<img src="../img/instagram.png" alt="logo de instagram que redirige a la cuenta de la marca" class="footer__logo--redes">
		</a>
		<a href="https://mail.google.com/" target="blank">
		<img src="../img/Gmail.png" alt="logo de gmail que redirige al correo electronico" class="footer__logo--redes"> 
		</a>
		<div id="div__copyright_text" class="text-center">Copyright&copy; 2022 - Página creada por Abogada en Zapatillas- Todos los derechos reservados
		</div>
	</footer>
</body>
</html>