<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Abogada en Zapatillas- Marketing juridico y diseño web</title>
	<link rel="shortcut icon" href="carpetas/imag/favicon.png"/>
	<link rel="icon" type="image/png" sizes="16x16"  href="../img/favicon.png">
	<!-- css vinculado -->
	<link rel="stylesheet" href="../css/style.css">
</head>
<body id="grilladescargable">
		<!-- inicia nav -->
	<header>
		<nav class="header__navegador">
			<a href="../../index.html">
				<img src="../img/logoAZ.png" alt="logo de abogada en zapatillas" class="header__img__logo">
			</a>
			<input type="checkbox" id="check">
			<label for="check" class="checkbtn">
				<i><img src="../img/checkbtn.png" class="menu-icon"></i>
			</label>
			<ul class="menu">
				<li> <a href="../index.html"></a></li>
				<li> <a href="servicios.html">Servicios</a>
					<ul class="submenu">
						<li><a href="#">Marketing Digital</a></li>
						<li><a href="#">Publicidad Digital</a></li>
						<li><a href="#">Diseño Gráfico</a></li>
						<li><a href="#">Desarrollo Web</a></li>
					</ul>
				</li>
				<li> <a href="nosotros.html">Nosotros</a></li>
				<li> <a href="../index.html#contacto">Contacto</a></li>
			</ul>
		</nav>
	</header>
	<!-- termina nav -->

	<!-- inicia contenido principal -->
	<main id="principaldescargable">
		<div id="textoinicial">
			<h1 class="text-center section__título--superior">Plantillas descargables</h1>
			<h2 class="text-center section__subtitítulo--superior">¡Totalmente Gratis!</h2>
		</div> 
		<div id="imagen1"> 
			<figure>
				<img src="../img/editable1.png" alt="imagen con tarjetas de ejemplo para descargar" class="main__img--descargables">
			<div class="botones__descarga">
				<input type="submit" value="Descargar" class="main__buttom--descargas">
			</div>
			</figure>
		</div>
		<div id="imagen2">
			<figure>
				<img src="../img/editable2.png" alt="imagen con tarjetas de ejemplo para descargar" class="main__img--descargables">
			<div class="botones__descarga">
				<input type="submit" value="Descargar" class="main__buttom--descargas">
			</div>
			</figure>
		</div>
		<div id="imagen3">
			<figure>
				<img src="../img/editable3.png" alt="imagen con tarjetas de ejemplo para descargar" class="main__img--descargables">
			<div class="botones__descarga">
				<input type="submit" value="Descargar" class="main__buttom--descargas">
			</div>
			</figure>
		</div>
		<div id="imagen4">
			<figure>
				<img src="../img/editable4.png" alt="imagen con tarjetas de ejemplo para descargar" class="main__img--descargables">
			<div class="botones__descarga">
				<input type="submit" value="Descargar" class="main__buttom--descargas">
			</div>
			</figure>
		</div>
	</main>
	<!-- Termina contenido principal -->

	<footer id="footer">
		<h3 class="text-bold text-center">Seguinos en nuestras redes</h3>
		<a href="https://www.facebook.com" target="blank">
		<img src="../img/facebook.png" alt="logo de facebook que redirige a la cuenta la marca" class="footer__logo--redes"> 
		</a>
		<a href="https://www.instagram.com/" target="blank">
		<img src="../img/instagram.png" alt="logo de instagram que redirige a la cuenta de la marca" class="footer__logo--redes">
		</a>
		<a href="https://mail.google.com/" target="blank">
		<img src="../img/Gmail.png" alt="logo de gmail que redirige al correo electronico" class="footer__logo--redes"> 
		</a>
		<div id="div__copyright_text" class="text-center">Copyright&copy; 2022 - Página creada por Abogada en Zapatillas- Todos los derechos reservados
		</div>
	</footer>
</body>
</html>