<!DOCTYPE html>
<html lang="en">
<STYLE>A {text-decoration: none;} </STYLE>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Abogada en Zapatillas- Marketing juridico y diseño web</title>
	<link rel="shortcut icon" href="carpetas/imag/favicon.png"/>
	<link rel="icon" type="image/png" sizes="16x16"  href="../img/favicon.png">
	<!-- css vinculado -->
	<link rel="stylesheet" href="../css/style.css">
</head>
<body id="grillanosotros">
	<header>
	<!-- inicia nav -->
		<nav class="header__navegador">
			<a href="../../index.html">
				<img src="../img/logoAZ.png" alt="logo de abogada en zapatillas" class="header__img__logo">
			</a>
			<input type="checkbox" id="check">
			<label for="check" class="checkbtn">
				<i><img src="../img/checkbtn.png" class="menu-icon"></i>
			</label>
			<ul class="menu">
				<li> <a href="../index.html"></a></li>
				<li> <a href="servicios.html">Servicios</a>
					<ul class="submenu">
						<li><a href="#">Marketing Digital</a></li>
						<li><a href="#">Publicidad Digital</a></li>
						<li><a href="#">Diseño Gráfico</a></li>
						<li><a href="#">Desarrollo Web</a></li>
					</ul>
				</li>
				<li> <a href="descargable.html">Descargable</a></li>
				<li> <a href="../index.html#contacto">Contacto</a></li>
			</ul>
		</nav>
	</header>
	<!-- termina nav -->

	<!-- Inicia contenido principal -->
	<main>
		<div class="encabezado__nosotros">
			<img src="../img/encabezado2.png" alt="un encabezado con la frase construye tu marca de manera eficiente" class="main__img--encabezado">
		</div>
		<section>
			<article>
				<h1 class="section__título--superior text-center">¿Quiénes somos?</h1>
				<p>En un mundo con una gran cantidad de profesionales del Derecho, se hace necesario diferenciarse de la competencia, darse a conocer, conservar y mejorar la cartera de clientes.
				La necesidad de renovarse y adaptarse a una realidad digital es clara en todos los sectores. Es por eso que, surge la marca a fin de proveer diversos servicios para un sector en particular: los abogados.Abogada en zapatillas surge de la idea de unificar el Derecho con todo eso que nos apasiona, el diseño, el marketing y la publicidad digital, a fin de ofrecérselos a otros colegas. Nuestro servicio está orientado a abogados, ya sea que estén comenzando o que ya tengan trayectoria y quieran contar con un impulso digital, ofreciéndote una experiencia única y en un solo lugar.</p>
			</article>

			<article>
				<h2 class="section__título--superior text-center">Nuestra historia</h2>
				<p>Ofrecemos un servicio integral para tu despacho y trasncendemos en lo que nos dedicamos ¿sabés por qué? Por que decidimos unir todo lo que nos apasiona. Buscamos ayudar a mejorar sus recursos y esfuerzos y hacer que sus cualidades diferenciales sean reconocidas. Actualmente, gracias a las nuevas tecnologías resulta más fácil transmitir este tipo de marketing a través de una web, redes sociales, campañas de publicidad, teniendo en mente nuestro público objetivo, que reflejen la calidad de los servicios que ofreces.</p>
			</article>	
		</section>
	</main>
<!-- Termina contenido principal -->

	<footer id="footer">
		<h3 class="text-bold text-center">Seguinos en nuestras redes</h3>
		<a href="https://www.facebook.com" target="blank">
		<img src="../img/facebook.png" alt="logo de facebook que redirige a la cuenta la marca" class="footer__logo--redes"> 
		</a>
		<a href="https://www.instagram.com/" target="blank">
		<img src="../img/instagram.png" alt="logo de instagram que redirige a la cuenta de la marca" class="footer__logo--redes">
		</a>
		<a href="https://mail.google.com/" target="blank">
		<img src="../img/Gmail.png" alt="logo de gmail que redirige al correo electronico" class="footer__logo--redes"> 
		</a>
		<div id="div__copyright_text" class="text-center">Copyright&copy; 2022 - Página creada por Abogada en Zapatillas- Todos los derechos reservados
		</div>
	</footer>
</body>
</html>