<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Abogada en Zapatillas- Marketing juridico y diseño web</title>
	<link rel="shortcut icon" href="carpetas/imag/favicon.png"/>
	<link rel="icon" type="image/png" sizes="16x16"  href="../img/favicon.png">
	<!-- css vinculado -->
	<link rel="stylesheet" href="../css/style.css">
</head>

<body id="grillaservicios">
	<header>
		<!-- inicia nav -->
		<nav class="header__navegador">
			<a href="../../index.html">
				<img src="../img/logoAZ.png" alt="logo de abogada en zapatillas" class="header__img__logo">
			</a>
			<input type="checkbox" id="check">
			<label for="check" class="checkbtn">
				<i><img src="../img/checkbtn.png" class="menu-icon"></i>
			</label>
			<ul class="menu">
				<li> <a href="../index.html"></a></li>
				<li> <a href="nosotros.html">Nosotros</a></li>
				<li> <a href="descargable.html">Descargable</a></li>
				<li> <a href="contacto.html">Contacto</a></li>
			</ul>
		</nav>
	<!-- termina nav -->
	</header>

	<div id="encabezado">
		<img src="../img/encabezado2.png" class="main__img--encabezado" alt="un banner con la frase construye tu marca de manera eficiente">
	</div>
	<!-- Inicia contenido principal -->
	<main id="principalservicios">
		<div id="textoinicial2">
			<h1 class= "text-center section__título--superior">Conocé todos nuestros servicios</h1>
		</div>
		<div id="imagen1b">
			<figure>
				<img src="../img/dg.png" class="main__figure--img" alt="imagen ofreciendo el servicio de identidad de marca">
				<div id="botones">
					<input class="section__buttom" type="submit" value="Más información">
				</div>
			</figure>
		</div>
		<div id="imagen2b">
			<figure>
				<img src="../img/marketingdigital.png" class="main__figure--img" alt="imagen ofreciendo el servicio de marketing digital">
				<div id="botones">
					<input class="section__buttom" type="submit" value="Más información">
				</div>
			</figure>
		</div>
		<div id="imagen3b">
			<figure>
				<img src="../img/publicidaddigital.png" class="main__figure--img" alt="imagen ofreciendo el servicio de marketing digital">
				<div id="botones">
					<input class="section__buttom" type="submit" value="Más información">
				</div>
			</figure>
		</div>
		<div id="imagen4b">
			<figure>
				<img src="../img/sitiosweb.png" class="main__figure--img" alt="imagen ofreciendo el servicio de marketing digital">
				<div id="botones">
					<input class="section__buttom" type="submit" value="Más información">
				</div>
			</figure>
		</div>
	</main>
	<!-- Termina contenido principal -->
	<footer id="footer">
		<h2 class="text-bold text-center">Seguinos en nuestras redes</h2>
		<a href="https://www.facebook.com" target="blank">
		<img src="../img/facebook.png" alt="logo de facebook que redirige a la cuenta la marca" class="footer__logo--redes"> 
		</a>
		<a href="https://www.instagram.com/" target="blank">
		<img src="../img/instagram.png" alt="logo de instagram que redirige a la cuenta de la marca" class="footer__logo--redes">
		</a>
		<a href="https://mail.google.com/" target="blank">
		<img src="../img/Gmail.png" alt="logo de gmail que redirige al correo electronico" class="footer__logo--redes"> 
		</a>
		<div id="div__copyright_text" class="text-center">Copyright&copy; 2022 - Página creada por Abogada en Zapatillas- Todos los derechos reservados
		</div>
	</footer>
</body>
</html>